.value-panel {
  color: #ffffff;
  width: 25%;
  display: inline-block;
  cursor: pointer;
}

.value-container {
  margin: 20px;
  padding: 20px;
}

.value-container h2 {
  margin: 0;
  font-size: 36px;
}

.info {
  color: #fff;
  background: #0DAB76;
  font-size: 16px;
  padding: 10px;
}


.info form {
  width: 300px;
  display: inline-block;
}

.info input {
  height: 10px;
}

.info input[type=text] {
  width: 80px;
}

#timestamp{
  float: right;
}

.info button {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.value {
  text-align: right;
  font-size: 24px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .value-panel {
    width: 50%;
  }

  .value-container {
    margin: 10px;
    padding: 10px;
  }

  .value-container h2 {
    font-size: 24px;
  }

  .value {
    margin-top: 10px;
    font-size: 18px;
    margin-top: 0;
  }
}

@media (max-width: 460px) {
  .info {
    height: 60px
  }

  .info button{
    height: 30px;
    width: 100%
  }
}
