.control-container {
  text-align: center;
}

.control-button {
  padding: 15px 22px;
  margin: 5px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0.3rem;
}

.range-select {
  width: 240px;
  color: #fff;
  background-color: #216ba5;
}
